In [1]:
"Animesh Gupta"

'Animesh Gupta'

In [2]:
838476 + 464656

1303132

In [3]:
print(2)
print("The work of coder")
print('alpha','beta',100,'☺🙂☺☺☺😚')

2
The work of coder
alpha beta 100 ☺🙂☺☺☺😚

In [4]:
input("enter the college")

'IPEC'

In [5]:
x = 10
y = 20

In [6]:
college = input("enter the college")

In [7]:
print(x ,y)

10 20

In [8]:
print(college)

ipec

### operators in python
- mathematical
- comparision
- assignment
- logical
- membership
- instance

In [9]:
a = 10
b = 7

In [10]:
a  + b

17

In [11]:
print(a - b)
print(a / b)
print(a * b)

3
1.4285714285714286
70

In [12]:
print(a // b)

1

In [13]:
print(a % b)

3

In [14]:
print(a ** b)

10000000

In [15]:
2  + 3 - 10 * 3 + 6 // 2

-22

In [16]:
size = 10

In [17]:
size += 10
size -= 5

In [18]:
del a

In [19]:
size /=2
size *= 5
size %= 3
size //=2
size **=3

In [20]:
size

0.0

In [21]:
x > y

False

In [22]:
x < y

True

In [23]:
x >= 3

True

In [24]:
x >= 3

True

In [25]:
100 <= 20

False

In [26]:
"apple" == "Apple"

False

In [30]:
x != y

True

In [31]:
age = 19
country = "India"

In [32]:
age > 18 and country == "India"

True

In [33]:
age > 20 and country == "china"

False

In [34]:
x = 3
a = [2,3,4,5,1]

In [35]:
10 in a

False

In [36]:
3 in a

True

In [37]:
fridge = ['Water','Ice Cream','Sweet']

In [38]:
'chocolate' in fridge

False

In [39]:
'water' in fridge

False

In [40]:
a = 10
print(type(a))

<class 'int'>

In [41]:
a = str(a)
print(type(a))

<class 'str'>

In [42]:
float(a)

10.0

In [43]:
a = bool(a)
print(a)

True

In [46]:
name = input("who are you?")
age = input('what is ur age?')
ans = input("how many days in a leap year")
is_married = input("Are u married")
print(name , type(name))
print( age , type(age))
print(ans , type(ans))
print(is_married , type(is_married))

Animesh <class 'str'>
22 <class 'str'>
366 <class 'str'>
no <class 'str'>

In [47]:
age = int(age)
age > 18

True

In [48]:
a = input('enter A:')
b = input('Enter B :')
a + b

'22236666'

In [50]:
a = int(input('enter A:'))
b = int(input('enter B:'))
a + b

7

In [52]:
a = float(input('enter A:'))
b = float(input('enter B:'))
a + b

90.0

In [53]:
a = int(float(input('enter A:')))
b = int(float(input('enter B:')))
a + b

51

In [54]:
print('Hello')

Hello

In [55]:
print('This is a line')
print('This is another line')

This is a line
This is another line

In [56]:
print("This is a line","This is another line")

This is a line This is another line

In [57]:
print("This is a line\nThis is another line")

This is a line
This is another line

In [58]:
print("This is a line","This is another line", sep="\n")

This is a line
This is another line

In [59]:
print(1,2,3,4,5, sep='❌')

1❌2❌3❌4❌5

In [61]:
print('Hello', end=',')
print("India")

Hello,India

In [62]:
name = "Arti"
age = 7
color = 'yellow'
print('My name is',name,'I am ',age,'year old','& i like color',color)

My name is Arti I am  7 year old & i like color yellow

In [63]:
a = 10
b = 3
c = a/b
print(f'{a} diveded by {b} gives {c:.1f}')

10 diveded by 3 gives 3.3