In [ ]:
# bad code
x = int(input('X:'))
y = int(input('Y:'))
s = x + y
print("total", s)
x = int(input('X:'))
y = int(input('Y:'))
s = x + y
print("total", s)
x = int(input('X:'))
y = int(input('Y:'))
s = x + y
print("total", s)
x = int(input('X:'))
y = int(input('Y:'))
s = x + y
print("total", s)

### loops

In [1]:
for i in range(5):
    print('Loop code')

Loop code
Loop code
Loop code
Loop code
Loop code

In [2]:
for i in range(5):
    x = int(input('X:'))
    y = int(input('Y:'))
    s = x + y
    print("total", s)

total 9
total 49
total 88
total 41
total 13

In [3]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [4]:
for i in range(5, 25):
    print(i, end=' ')

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [5]:
for i in range(5, 26, 2):
    print(i, end=' ')

5 7 9 11 13 15 17 19 21 23 25

In [6]:
for i in range(5, 101 ,5):
    print(i, end=' ')

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [7]:
for i in range(10, 0, -1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [9]:
total = 0
for i in range(1, 1000):
    if i % 5 == 0 and i % 7 == 0:
        total+= i
        print("TOTAL" ,total)

TOTAL 35
TOTAL 105
TOTAL 210
TOTAL 350
TOTAL 525
TOTAL 735
TOTAL 980
TOTAL 1260
TOTAL 1575
TOTAL 1925
TOTAL 2310
TOTAL 2730
TOTAL 3185
TOTAL 3675
TOTAL 4200
TOTAL 4760
TOTAL 5355
TOTAL 5985
TOTAL 6650
TOTAL 7350
TOTAL 8085
TOTAL 8855
TOTAL 9660
TOTAL 10500
TOTAL 11375
TOTAL 12285
TOTAL 13230
TOTAL 14210

In [11]:
total = 0
for i in range(1, 15000):
    if i % 5 == 0 and i % 7 == 0:
        total+= i
        print("TOTAL" ,total)

TOTAL 35
TOTAL 105
TOTAL 210
TOTAL 350
TOTAL 525
TOTAL 735
TOTAL 980
TOTAL 1260
TOTAL 1575
TOTAL 1925
TOTAL 2310
TOTAL 2730
TOTAL 3185
TOTAL 3675
TOTAL 4200
TOTAL 4760
TOTAL 5355
TOTAL 5985
TOTAL 6650
TOTAL 7350
TOTAL 8085
TOTAL 8855
TOTAL 9660
TOTAL 10500
TOTAL 11375
TOTAL 12285
TOTAL 13230
TOTAL 14210
TOTAL 15225
TOTAL 16275
TOTAL 17360
TOTAL 18480
TOTAL 19635
TOTAL 20825
TOTAL 22050
TOTAL 23310
TOTAL 24605
TOTAL 25935
TOTAL 27300
TOTAL 28700
TOTAL 30135
TOTAL 31605
TOTAL 33110
TOTAL 34650
TOTAL 36225
TOTAL 37835
TOTAL 39480
TOTAL 41160
TOTAL 42875
TOTAL 44625
TOTAL 46410
TOTAL 48230
TOTAL 50085
TOTAL 51975
TOTAL 53900
TOTAL 55860
TOTAL 57855
TOTAL 59885
TOTAL 61950
TOTAL 64050
TOTAL 66185
TOTAL 68355
TOTAL 70560
TOTAL 72800
TOTAL 75075
TOTAL 77385
TOTAL 79730
TOTAL 82110
TOTAL 84525
TOTAL 86975
TOTAL 89460
TOTAL 91980
TOTAL 94535
TOTAL 97125
TOTAL 99750
TOTAL 102410
TOTAL 105105
TOTAL 107835
TOTAL 110600
TOTAL 113400
TOTAL 116235
TOTAL 119105
TOTAL 122010
TOTAL 124950
TOTAL 127925
TOTAL 130935
TOTAL 133980
TOTAL 137060
TOTAL 140175
TOTAL 143325
TOTAL 146510
TOTAL 149730
TOTAL 152985
TOTAL 156275
TOTAL 159600
TOTAL 162960
TOTAL 166355
TOTAL 169785
TOTAL 173250
TOTAL 176750
TOTAL 180285
TOTAL 183855
TOTAL 187460
TOTAL 191100
TOTAL 194775
TOTAL 198485
TOTAL 202230
TOTAL 206010
TOTAL 209825
TOTAL 213675
TOTAL 217560
TOTAL 221480
TOTAL 225435
TOTAL 229425
TOTAL 233450
TOTAL 237510
TOTAL 241605
TOTAL 245735
TOTAL 249900
TOTAL 254100
TOTAL 258335
TOTAL 262605
TOTAL 266910
TOTAL 271250
TOTAL 275625
TOTAL 280035
TOTAL 284480
TOTAL 288960
TOTAL 293475
TOTAL 298025
TOTAL 302610
TOTAL 307230
TOTAL 311885
TOTAL 316575
TOTAL 321300
TOTAL 326060
TOTAL 330855
TOTAL 335685
TOTAL 340550
TOTAL 345450
TOTAL 350385
TOTAL 355355
TOTAL 360360
TOTAL 365400
TOTAL 370475
TOTAL 375585
TOTAL 380730
TOTAL 385910
TOTAL 391125
TOTAL 396375
TOTAL 401660
TOTAL 406980
TOTAL 412335
TOTAL 417725
TOTAL 423150
TOTAL 428610
TOTAL 434105
TOTAL 439635
TOTAL 445200
TOTAL 450800
TOTAL 456435
TOTAL 462105
TOTAL 467810
TOTAL 473550
TOTAL 479325
TOTAL 485135
TOTAL 490980
TOTAL 496860
TOTAL 502775
TOTAL 508725
TOTAL 514710
TOTAL 520730
TOTAL 526785
TOTAL 532875
TOTAL 539000
TOTAL 545160
TOTAL 551355
TOTAL 557585
TOTAL 563850
TOTAL 570150
TOTAL 576485
TOTAL 582855
TOTAL 589260
TOTAL 595700
TOTAL 602175
TOTAL 608685
TOTAL 615230
TOTAL 621810
TOTAL 628425
TOTAL 635075
TOTAL 641760
TOTAL 648480
TOTAL 655235
TOTAL 662025
TOTAL 668850
TOTAL 675710
TOTAL 682605
TOTAL 689535
TOTAL 696500
TOTAL 703500
TOTAL 710535
TOTAL 717605
TOTAL 724710
TOTAL 731850
TOTAL 739025
TOTAL 746235
TOTAL 753480
TOTAL 760760
TOTAL 768075
TOTAL 775425
TOTAL 782810
TOTAL 790230
TOTAL 797685
TOTAL 805175
TOTAL 812700
TOTAL 820260
TOTAL 827855
TOTAL 835485
TOTAL 843150
TOTAL 850850
TOTAL 858585
TOTAL 866355
TOTAL 874160
TOTAL 882000
TOTAL 889875
TOTAL 897785
TOTAL 905730
TOTAL 913710
TOTAL 921725
TOTAL 929775
TOTAL 937860
TOTAL 945980
TOTAL 954135
TOTAL 962325
TOTAL 970550
TOTAL 978810
TOTAL 987105
TOTAL 995435
TOTAL 1003800
TOTAL 1012200
TOTAL 1020635
TOTAL 1029105
TOTAL 1037610
TOTAL 1046150
TOTAL 1054725
TOTAL 1063335
TOTAL 1071980
TOTAL 1080660
TOTAL 1089375
TOTAL 1098125
TOTAL 1106910
TOTAL 1115730
TOTAL 1124585
TOTAL 1133475
TOTAL 1142400
TOTAL 1151360
TOTAL 1160355
TOTAL 1169385
TOTAL 1178450
TOTAL 1187550
TOTAL 1196685
TOTAL 1205855
TOTAL 1215060
TOTAL 1224300
TOTAL 1233575
TOTAL 1242885
TOTAL 1252230
TOTAL 1261610
TOTAL 1271025
TOTAL 1280475
TOTAL 1289960
TOTAL 1299480
TOTAL 1309035
TOTAL 1318625
TOTAL 1328250
TOTAL 1337910
TOTAL 1347605
TOTAL 1357335
TOTAL 1367100
TOTAL 1376900
TOTAL 1386735
TOTAL 1396605
TOTAL 1406510
TOTAL 1416450
TOTAL 1426425
TOTAL 1436435
TOTAL 1446480
TOTAL 1456560
TOTAL 1466675
TOTAL 1476825
TOTAL 1487010
TOTAL 1497230
TOTAL 1507485
TOTAL 1517775
TOTAL 1528100
TOTAL 1538460
TOTAL 1548855
TOTAL 1559285
TOTAL 1569750
TOTAL 1580250
TOTAL 1590785
TOTAL 1601355
TOTAL 1611960
TOTAL 1622600
TOTAL 1633275
TOTAL 1643985
TOTAL 1654730
TOTAL 1665510
TOTAL 1676325
TOTAL 1687175
TOTAL 1698060
TOTAL 1708980
TOTAL 1719935
TOTAL 1730925
TOTAL 1741950
TOTAL 1753010
TOTAL 1764105
TOTAL 1775235
TOTAL 1786400
TOTAL 1797600
TOTAL 1808835
TOTAL 1820105
TOTAL 1831410
TOTAL 1842750
TOTAL 1854125
TOTAL 1865535
TOTAL 1876980
TOTAL 1888460
TOTAL 1899975
TOTAL 1911525
TOTAL 1923110
TOTAL 1934730
TOTAL 1946385
TOTAL 1958075
TOTAL 1969800
TOTAL 1981560
TOTAL 1993355
TOTAL 2005185
TOTAL 2017050
TOTAL 2028950
TOTAL 2040885
TOTAL 2052855
TOTAL 2064860
TOTAL 2076900
TOTAL 2088975
TOTAL 2101085
TOTAL 2113230
TOTAL 2125410
TOTAL 2137625
TOTAL 2149875
TOTAL 2162160
TOTAL 2174480
TOTAL 2186835
TOTAL 2199225
TOTAL 2211650
TOTAL 2224110
TOTAL 2236605
TOTAL 2249135
TOTAL 2261700
TOTAL 2274300
TOTAL 2286935
TOTAL 2299605
TOTAL 2312310
TOTAL 2325050
TOTAL 2337825
TOTAL 2350635
TOTAL 2363480
TOTAL 2376360
TOTAL 2389275
TOTAL 2402225
TOTAL 2415210
TOTAL 2428230
TOTAL 2441285
TOTAL 2454375
TOTAL 2467500
TOTAL 2480660
TOTAL 2493855
TOTAL 2507085
TOTAL 2520350
TOTAL 2533650
TOTAL 2546985
TOTAL 2560355
TOTAL 2573760
TOTAL 2587200
TOTAL 2600675
TOTAL 2614185
TOTAL 2627730
TOTAL 2641310
TOTAL 2654925
TOTAL 2668575
TOTAL 2682260
TOTAL 2695980
TOTAL 2709735
TOTAL 2723525
TOTAL 2737350
TOTAL 2751210
TOTAL 2765105
TOTAL 2779035
TOTAL 2793000
TOTAL 2807000
TOTAL 2821035
TOTAL 2835105
TOTAL 2849210
TOTAL 2863350
TOTAL 2877525
TOTAL 2891735
TOTAL 2905980
TOTAL 2920260
TOTAL 2934575
TOTAL 2948925
TOTAL 2963310
TOTAL 2977730
TOTAL 2992185
TOTAL 3006675
TOTAL 3021200
TOTAL 3035760
TOTAL 3050355
TOTAL 3064985
TOTAL 3079650
TOTAL 3094350
TOTAL 3109085
TOTAL 3123855
TOTAL 3138660
TOTAL 3153500
TOTAL 3168375
TOTAL 3183285
TOTAL 3198230
TOTAL 3213210

In [12]:
sum(range(2, 15000, 2))

56242500

In [13]:
name = "Alexander Maximus"
for char in name:
    print(char)

A
l
e
x
a
n
d
e
r

M
a
x
i
m
u
s

In [14]:
words = ["We","are","going","to","eat","the","Pizza"]
for word in words:
    print(word)

We
are
going
to
eat
the
Pizza

In [15]:
for word in words:
    print(word, len(word))

We 2
are 3
going 5
to 2
eat 3
the 3
Pizza 5

In [16]:
data = [[1,2,3], [4,5,6], [7,8,9]]
for item in data:
    print(item)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [17]:
for items in data:
    for value in items:
        print(value, end =' ')

1 2 3 4 5 6 7 8 9

In [18]:
num = int(input('Enter a number:'))
while num > 0:
    print("in loop")
    num -= 1
    print("Loop closed")

in loop
Loop closed
in loop
Loop closed
in loop
Loop closed
in loop
Loop closed

In [19]:
while input(">>") == "y":
    print("This is a loop")

In [21]:
while input("Add Numbers(Y/N)") == "y":
    a = int(input("Enter Number 1:"))
    b = int(input("Enter Number 2:"))
    print(f'{a} + {b} = {a+b}')

In [27]:
while input("Calculate Marks") == "yes":
    eng = int(input("English Mark:"))
    hin = int(input("Hindi Marks:"))
    maths = int(input("Maths Marks:"))
    sci = int(input("Science Marks:"))
    evs = int(input("Evs Marks:"))
    total = eng + hin + maths + sci + evs
    perc = total / 5
    print("Your Report:")
    print(f"TOTAL: {total}")
    print(f"PERCENTAGE: {perc}%")
    if perc > 80:
        grade = "A"
    elif perc > 60 and perc <=80:
        grade = "B"
    elif perc > 40 and perc <= 60:
        grade = "C"
    else:
        grade = "F"
    print(f"GRADE: {grade}")
    print("*"* 10)

Your Report:
TOTAL: 169
PERCENTAGE: 33.8%
GRADE: F
**********

In [ ]:
while True:
    name =input("enter name of fav fruit")
    if len(name) < 3:
        break
    print(f">>{name}")

In [26]:
total = 0
while True:
    amt = input("enter the amount spend")
    if amt.isnumeric():
        amt = int(amt)
        if amt < 100:
            continue
        total += amt
    else:
        break
print(f"{total} amt spend")

0 amt spend

In [25]:
x = [10, 20, 30, 0, 10, 50, 0, 220, 0, 120, 0, 20]
for i in x:
    if i == 0:
        continue
    print(i,end=" ")

10 20 30 10 50 220 120 20